
/* Apply fonts using these calls: 

font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;

*/

/* Color selections for project:

Background: #F2F1E8;
Text: #131511;
Inline Link: #968772;
Inline Link (Hover): #967343;
Navigation Background: #FFFFFF;
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343

*/

/* NAVIGATION SECTION BELOW: */

body {
	background-color: #F2F1E8;
	font-family: "Merriweather" , serif;
	margin: 0rem 0rem 0rem 0rem;

}

header {
	display: flex;
	position: fixed;
	top: -17px;
	color: #2B2F26;
	font-family: Roboto , serif;
	font-size: 1.2em;
	z-index: 1
}

.fixedheader {
	display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  justify-content: center;
	align-items: center;
  height: 55px;
  width: 1573px;
	list-style: none;
	color: #2B2F26;
	font-size: 17px;
	
}
.linklist {
	margin: 2px 0px 2px 0px;
}

#links {
	color: #2B2F26;
  padding: 0px 36px 0px 36px;
	position: relative;
	right: 83px;
	font-size: 1.01em;
}

#selected_link > a:visited {
  color: #968772;
}

#links:hover {
	color: #CD5D67;
}

#links:active {
	color: #968772;
}

.bentcreeklogo {
	max-width: 45px;
  max-height: 45px;
  position: fixed;
  top: 6px;
  left: 18px;
	z-index: 1;
}






/* logo section Below */

.textlogo {
	font-family: Merriweather;
}

.textlogo > h1 {
	display: flex;
  flex-direction: row;
  height: 9rem;
  justify-content: center;
  align-items: flex-end;
  font-size: 75px;
  font-weight: 300;
}

.textlogo h2 {
	display: flex;
  flex-direction: row;
  height: 0rem;
  justify-content: center;
  align-items: flex-end;
  font-family: Roboto;
	font-size: 45px;
  font-weight: lighter;
}

/* Image section below: */ 

.tilepanel {
	font-size: 1.3em;
	margin: 0px;
}

.image_container1 {
	display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
  align-items: stretch;
	align-content: space-around;
	background-color: #F2F1E8;
	color: #F2F1E8;
	height: 29rem;
}

.image_container2 {
	display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
  align-items: stretch;         
	align-content: space-around;
	background-color: #F2F1E8;
	color: #F2F1E8;
	height: 17rem;
}

.tile {
	display: flex;
	align-items: flex-end;
}

.tile > p {
	border: 1px solid transparent;
  background-color: #2B2F26;
  padding: 10px 20px 10px 20px;
}

#tile1 {
	background: url(./images/product-1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 8px;
  flex: 3;
}

#tile2 {
	background: url(./images/product-2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 8px;
  flex: 1;
}

#tile3 {
	background: url(./images/product-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 8px;
  flex: 1;
}

#tile4 {
  background: url(./images/product-4.jpg);
  background-size: 137%;
  background-repeat: no-repeat;
  margin: 8px;
  flex: 1;
}

#tile5 {
  background: url(./images/product-5.jpg);
  background-size: 137%;
  background-repeat: no-repeat;
  margin: 8px;
  flex: 1;
}

#tile6 {
  background: url(./images/product-6.jpg);
  background-size: 99.5%;
  background-repeat: no-repeat;
  margin: 8px;
  flex: 2;
}

#tile7 {
  background: url(./images/product-7.jpg);
  background-size: 137%;
  background-repeat: no-repeat;
  margin: 8px;
  flex: 1;
}

/* Footer stuff below: */

footer {
	display: flex;
	background-color: #2B2F26;
	color: #F2F1E8;
	margin: 0px;
  width: 100%;
}

